main {
  margin: 0 1.5% 24px 1.5%
}

p, header {
  display: block;
  border-radius: 4px;
  background: #2db34a;
  padding: 24px 15px;
  text-align: center;
}

li {
  display: inline;
  margin: 0;
  padding: 0;
}

section {
  float: left;
  width: 60%;
}

aside {
  float: right;
  width: 30%;
}

footer {
  clear: both;
  margin-bottom: 0;
}
